In [1]:
import numpy as np
import pandas as pd

In [7]:
np_array = np.arange(10, 100, 5)
s = pd.Series(np_array)
print(s)
print(s.size)

0     10
1     15
2     20
3     25
4     30
5     35
6     40
7     45
8     50
9     55
10    60
11    65
12    70
13    75
14    80
15    85
16    90
17    95
dtype: int32
18

In [8]:
s1 = pd.Series(np.random.randn(5))
print(s1)

0   -1.883093
1    1.729769
2   -0.781541
3    0.006491
4    0.869637
dtype: float64

In [9]:
print(s)

0     10
1     15
2     20
3     25
4     30
5     35
6     40
7     45
8     50
9     55
10    60
11    65
12    70
13    75
14    80
15    85
16    90
17    95
dtype: int32

In [10]:
s1 = s.map(lambda i: i*2)
print(s1)

0      20
1      30
2      40
3      50
4      60
5      70
6      80
7      90
8     100
9     110
10    120
11    130
12    140
13    150
14    160
15    170
16    180
17    190
dtype: int64

In [11]:
import math
s2 = s.map(lambda i: math.sqrt(i))
print(s2)

0     3.162278
1     3.872983
2     4.472136
3     5.000000
4     5.477226
5     5.916080
6     6.324555
7     6.708204
8     7.071068
9     7.416198
10    7.745967
11    8.062258
12    8.366600
13    8.660254
14    8.944272
15    9.219544
16    9.486833
17    9.746794
dtype: float64

In [13]:
s = pd.Series(np.array([3,8,4,5,2,7]))
print(s)

0    3
1    8
2    4
3    5
4    2
5    7
dtype: int32

In [16]:
print(s.mean())
print(s.median())

4.833333333333333
4.5

In [17]:
print(s.prod())

6720

In [18]:
print(3*8*4*5*2*7)

6720

In [19]:
print(s.cumsum())

0     3
1    11
2    15
3    20
4    22
5    29
dtype: int32

In [20]:
print(s.cumprod())

0       3
1      24
2      96
3     480
4     960
5    6720
dtype: int32

In [25]:
import pandas as pd
my_list = [['Cuon theo chieu gio',1972],['Chien tranh va Hoa binh',1976],['Nguoi Ca',1978]]
df = pd.DataFrame(my_list, columns=['Ten_phim','Nam_sx'])
print(df)

                  Ten_phim  Nam_sx
0      Cuon theo chieu gio    1972
1  Chien tranh va Hoa binh    1976
2                 Nguoi Ca    1978

In [38]:
my_dic = {'Ten_phim':['Cuon theo chieu gio','Chien tranh va Hoa binh','Nguoi Ca'],
         'Nam_sx':[1972,1976,np.NAN]}
df = pd.DataFrame(my_dic, columns=['Ten_phim','Nam_sx'])
print(df)

                  Ten_phim  Nam_sx
0      Cuon theo chieu gio  1972.0
1  Chien tranh va Hoa binh  1976.0
2                 Nguoi Ca     NaN

In [34]:
df = pd.DataFrame({'toan':[7,8,9],'ly':[10,8,6],'hoa':[9,8,10]},index=['C01','C02','C03'])
print(df)

     toan  ly  hoa
C01     7  10    9
C02     8   8    8
C03     9   6   10

In [37]:
df['tb'] = (df['toan']+df['ly']+df['hoa'])/3
print(df)

     toan  ly  hoa        tb
C01     7  10    9  8.666667
C02     8   8    8  8.000000
C03     9   6   10  8.333333