In [38]:
%config IPCompleter.greedy = True

In [39]:
import numpy as np
import pandas as pd

In [40]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f', 'h'],columns=['one', 'two', 'three'])
print(df)

        one       two     three
a -1.282701  1.114661  1.025230
c  0.743163 -0.715507 -0.676640
e  1.238341  0.352514  0.345264
f -0.209314  1.300077 -1.517246
h  1.225018 -0.322216  1.219772

In [41]:
df.to_csv('first_data.csv')

In [42]:
df1 = pd.read_csv('first_data.csv')
print(df1)

  Unnamed: 0       one       two     three
0          a -1.282701  1.114661  1.025230
1          c  0.743163 -0.715507 -0.676640
2          e  1.238341  0.352514  0.345264
3          f -0.209314  1.300077 -1.517246
4          h  1.225018 -0.322216  1.219772

In [46]:
df2 = pd.read_csv('daily_weather.csv', index_col = 0, sep=',', nrows=10)
print(df2.shape, type(df2))

(10, 10) <class 'pandas.core.frame.DataFrame'>

In [49]:
print(df2.head(2))

        air_pressure_9am  air_temp_9am  avg_wind_direction_9am  \
number
0             918.060000     74.822000              271.100000
1             917.347688     71.403843              101.935179

        avg_wind_speed_9am  max_wind_direction_9am  max_wind_speed_9am  \
number
0                 2.080354              295.400000            2.863283
1                 2.443009              140.471549            3.533324

        rain_accumulation_9am  rain_duration_9am  relative_humidity_9am  \
number
0                         0.0                  0              42.420000
1                         0.0                  0              24.328697

        relative_humidity_3pm
number
0                   36.160000
1                   19.426597

In [48]:
df2.describe(include='all')

,air_pressure_9am,air_temp_9am,avg_wind_direction_9am,avg_wind_speed_9am,max_wind_direction_9am,max_wind_speed_9am,rain_accumulation_9am,rain_duration_9am,relative_humidity_9am,relative_humidity_3pm
count,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
mean,918.416931,64.953404,170.754272,5.345284,175.338159,6.822988,0.892000,1492.000000,42.468522,38.184480
std,2.721695,13.091464,84.126356,4.738358,77.108104,5.884029,2.813731,4651.661113,32.780474,25.374365
min,915.010000,44.294000,40.700000,1.856660,63.000000,2.863283,0.000000,0.000000,8.900000,12.742547
25%,916.036073,53.942000,117.226385,2.464192,137.492887,3.561546,0.000000,0.000000,15.224001,19.916362
50%,918.065000,70.091100,180.337704,4.041475,187.803348,4.889839,0.000000,0.000000,32.355000,28.980000
75%,920.397063,73.967461,231.508033,4.837383,207.377506,6.403241,0.000000,15.000000,70.957500,60.077500
max,923.040000,80.582000,277.800000,17.067852,295.400000,22.100967,8.900000,14730.000000,92.410000,76.740000