In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('Diemthi_thpt_quocgia_2016.csv')
print(df.shape)
print(df.head(5))

(34826, 6)
  SOBAODANH         HO_TEN   NGAY_SINH         TEN_CUMTHI GIOI_TINH  \
0  18000001  DƯƠNG VIỆT AN  12/03/1998  Sở GDĐT Bắc Giang       Nam
1  18000002      ĐỖ VĂN AN   9/12/1998  Sở GDĐT Bắc Giang       Nam
2  18000003     ĐỖ XUÂN AN  12/08/1997  Sở GDĐT Bắc Giang       Nam
3  18000004   ĐẶNG PHÚC AN  19/03/1998  Sở GDĐT Bắc Giang        Nữ
4  18000005    ĐẶNG VĂN AN  25/10/1998  Sở GDĐT Bắc Giang       Nam

                                            DIEM_THI
0  Toán:   2.00   Ngữ văn:   5.50   Lịch sử:   3....
1  Toán:   5.50   Ngữ văn:   5.25   Địa lí:   5.5...
2  Toán:   4.50   Ngữ văn:   5.50   Địa lí:   3.7...
3  Toán:   3.00   Ngữ văn:   6.00   Địa lí:   5.5...
4  Toán:   2.25   Ngữ văn:   4.75   Địa lí:   5.2...

In [5]:
df_hoten = df['HO_TEN']
print(df_hoten.head())

0    DƯƠNG VIỆT AN
1        ĐỖ VĂN AN
2       ĐỖ XUÂN AN
3     ĐẶNG PHÚC AN
4      ĐẶNG VĂN AN
Name: HO_TEN, dtype: object

In [6]:
print(type(df_hoten))

<class 'pandas.core.series.Series'>

In [7]:
df = pd.read_excel('du_lieu_4.xlsx')
print(df)

    Height  Weight    Age
0       74     180  22.99
1       74     215  34.69
2       72     210  30.78
3       72     210  35.43
4       73     188  35.71
5       69     176  29.39
6       69     209  30.77
7       71     200  35.07
8       76     231  30.19
9       71     180  27.05
10      73     188  23.88

In [8]:
df_tuoi = df[df['Age']>30]
print(df_tuoi)

   Height  Weight    Age
1      74     215  34.69
2      72     210  30.78
3      72     210  35.43
4      73     188  35.71
6      69     209  30.77
7      71     200  35.07
8      76     231  30.19